.marqueeContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marqueeContent {
  display: flex;
  min-width: 2980px; /* (202+96)*5*2 = 2980 */
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1490px); /* -2 set width */
  }
} 